<!DOCTYPE html>
<html>
<head>
    <title>OCR Testing</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <h1>Documentai OCR API</h1>
    <form action="/process_pdf" method="post" enctype="multipart/form-data">
        <label for="file">Select a PDF file:</label>
        <input type="file" name="file" id="file" accept=".pdf" required>
        <br>
        <label for="function">Select a function:</label>
        <select name="function" id="function" required>
            <option value="document_info">Document Metadata</option>
            <option value="process">Process and get results</option>
            <option value="tables">Tables</option>
        </select>
        
        <div id="confidenceField" style="display: none;">
            <label for="confidence">Confidence greater than:</label>
            <input type="number" name="confidence" id="confidence" min="0" max="1" step="0.1" value="0">
        </div>
        <div id="functionDescription">
            <p id="process" style="display: none;"><strong>Description:</strong> Process the document and extract Field:value pairs and named entities with a
                certain confidence.</p>
            <p id="docMetadata" style="display: none;"><strong>Description:</strong> Extract the PDF's metadata (if available) Title, Pages, Author, Dates..
            </p>
            <p id="tables" style="display: none;"><strong>Description:</strong> Extract all the available tables in the form (if available). each are stored
                in a different Excel sheet.
            </p>
        </div>

        <input type="submit" value="Upload and Process">
    </form>
    

    <script>
        // JavaScript to show/hide the "confidence" field based on the selected function
        const functionSelect = document.getElementById('function');
        const confidenceField = document.getElementById('confidenceField');
        
        const processDesctiption = document.getElementById('process')
        const metaDesctiption = document.getElementById('docMetadata')
        const tablesDesctiption = document.getElementById('tables')

        functionSelect.addEventListener('change', function () {
            if (functionSelect.value === 'process') {
                confidenceField.style.display = 'block';

                processDesctiption.style.display = 'block';
                metaDesctiption.style.display = 'none';
                tablesDesctiption.style.display = 'none';
            } 
            else if(functionSelect.value === 'document_info'){
                confidenceField.style.display = 'none';

                processDesctiption.style.display = 'none';
                metaDesctiption.style.display = 'block';
                tablesDesctiption.style.display = 'none';
            }
            else if(functionSelect.value === 'tables'){
                confidenceField.style.display = 'none';

                processDesctiption.style.display = 'none';
                metaDesctiption.style.display = 'none';
                tablesDesctiption.style.display = 'block';
            }
            

        });


    </script>
</body>
</html>

